<!-- Energy profile plotting -->
<div class="modal fade" id="energy-profile">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header embeded-charactors"><i class="fa fa-area-chart"></i>Energy Profile
                <button class="close close-energy-profile" type="button">&times;</button>
            </div>
            <div class="modal-body">
            <div id="energy-profile-container" style="min-width: 300px; min-height: 400px"></div>
            </div>
        </div>
    </div>
</div>
