<div id="model-form" class="row with-margin-top">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <div id="model-param-form">
                    <div class="input-group with-margin-bottom">
                        <span class="input-group-addon" data-toggle="tooltip" data-original-title="Reaction temperature">T</span>
                        {% if model_info and model_info.get('temperature') %}
                        <input type="text" name="temperature" value="{{model_info['temperature']}}" class="form-control" placeholder="Temperature">
                        {% else %}
                        <input type="text" name="temperature" class="form-control" placeholder="Temperature">
                        {% endif %}
                        <span class="input-group-addon" data-toggle="tooltip" data-original-title="Kelvin">K</span>
                    </div>
                    <div class="input-group with-margin-bottom">
                        <span class="input-group-addon" data-toggle="tooltip" data-original-title="Max iteration steps">Max Iteration</span>
                        {% if model_info and model_info.get('max_iteration') %}
                        <input type="text" name="max-iteration" value="{{ model_info.get('max_iteration') }}" class="form-control" placeholder="Max iteration step">
                        {% else %}
                        <input type="text" name="max-iteration" class="form-control" placeholder="Max iteration step" value="100">
                        {% endif %}
                    </div>
                    <div class="input-group with-margin-bottom">
                        <span class="input-group-addon" data-toggle="tooltip" data-original-title="Error convergence criterion">Tolerance</span>
                        {% if model_info and model_info.get('tolerance') %}
                        <input type="text" name="tolerance" class="form-control" placeholder="Convergence Criterion" value="{{ model_info.get('tolerance') }}">
                        {% else %}
                        <input type="text" name="tolerance" class="form-control" placeholder="Convergence Criterion" value="1e-50">
                        {% endif %}
                    </div>
                    <div class="input-group with-margin-bottom">
                        <span class="input-group-addon" data-toggle="tooltip" data-original-title="Algorithm for rate calculation">Rate Theory</span>
                        <select name="rate-algo" class="form-control">
                        {% if model_info and model_info.get('rate_algo') %}
                            {% if model_info.get('rate_algo') == 'CT' %}
                            <option value="TST">Transtion State Theory</option>
                            <option value="CT" selected>Collision Theory</option>
                            {% else %}
                            <option value="TST" selected>Transtion State Theory</option>
                            <option value="CT">Collision Theory</option>
                            {% endif %}
                        {% else %}
                            <option value="TST" selected>Transtion State Theory</option>
                            <option value="CT">Collision Theory</option>
                        {% endif %}
                        </select>
                    </div>
                    <div class="input-group with-margin-bottom">
                        <span class="input-group-addon" data-toggle="tooltip" data-original-title="Rootfinding iterator">RootFinding</span>
                        <select name="root-finding" class="form-control">
                        {% if model_info and model_info.get('rootfinding') %}
                            {% if model_info.get('rootfinding') == 'ConstrainedNewton' %}
                            <option value="MDNewton">MD Newton</option>
                            <option value="ConstrainedNewton" selected>Constrained Newton</option>
                            {% else %}
                            <option value="MDNewton" selected>MD Newton</option>
                            <option value="ConstrainedNewton">Constrained Newton</option>
                            {% endif %}
                        {% else %}
                            <option value="MDNewton" selected>MD Newton</option>
                            <option value="ConstrainedNewton">Constrained Newton</option>
                        {% endif %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="species-properties" class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                {% if model_info and (model_info.get('gas_pressures') or model_info.get('site_total_cvgs')) %}
                <div id="species-form">
                    {% for gas, pressure in model_info.get('gas_pressures') %}
                    <div class="pressure-input input-group with-margin-bottom">
                        <span class="input-group-addon" data-toggle="tooltip" data-original-title="{{ gas }} pressure">P<sub>({{ gas }})</sub></span>
                        <input type="text" name="{{ gas }}" class="form-control" placeholder="{{ gas }} pressure" value="{{ pressure }}">
                        <span class="input-group-addon">bar</span>
                    </div>
                    {% endfor %}
                    {% for site, cvg in model_info.get('site_total_cvgs') %}
                    <div class="site-cvg-input input-group with-margin-bottom">
                        <span class="input-group-addon" data-toggle="tooltip" data-original-title="Total coverage of {{ site }}">Total &theta;<sub>({{ site }})</sub></span>
                        <input type="text" name="{{ site }}" class="form-control" placeholder="total coverage" value="{{ cvg }}">
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <div id="no-species-form" class="well text-center embeded-charactors">
                    No species information, press <b><i class="fa fa-refresh"></i>Load species info</b> button to load them
                </div>
                <div id="species-form" style="display: none">
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
