<div id="model-form" class="row with-margin-top">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <div id="model-param-form">
                    <div class="input-group with-margin-bottom">
                        <span class="input-group-addon">T</span>
                        <input type="text" name="temperature" class="form-control" placeholder="Temperature">
                        <span class="input-group-addon">K</span>
                    </div>
                    <div class="input-group with-margin-bottom">
                        <span class="input-group-addon">Max Iteration</span>
                        <input type="text" id="max-iteration" class="form-control" placeholder="Max iteration step" value="100">
                    </div>
                    <div class="input-group with-margin-bottom">
                        <span class="input-group-addon">Tolerance</span>
                        <input type="text" name="tolerance" class="form-control" placeholder="Convergence Criterion" value="1e-50">
                    </div>
                    <div class="input-group with-margin-bottom">
                        <span class="input-group-addon">Rate Theory</span>
                        <select name="rate-algo" class="form-control">
                            <option value="TST" selected>Transtion State Theory</option>
                            <option value="CT">Collision Theory</option>
                        </select>
                    </div>
                    <div class="input-group with-margin-bottom">
                        <span class="input-group-addon">RootFinding</span>
                        <select name="root-finding" class="form-control">
                            <option value="MDNewton" selected>MD Newton</option>
                            <option value="ConstrainedNewton">Constrained Newton</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="species-properties" class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <div id="no-species-form" class="well text-center embeded-charactors">
                    No species information, press <b><i class="fa fa-refresh"></i>Load species info</b> button to load them
                </div>
                <div id="species-form" style="display: none">
                </div>
            </div>
        </div>
    </div>
</div>
