<div class="with-margin-top">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
        <div class="input-group with-margin-top">
            <span class="input-group-addon">CO_g</span>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
            <span class="input-group-addon">Bar</span>
        </div>
        <div class="input-group with-margin-top">
            <span class="input-group-addon">CO_g</span>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
            <span class="input-group-addon">Bar</span>
        </div>
    </div>
</div>
