<!-- Reactions buttons -->
<div class="row">
    <div class="col-sm-6 col-md-6 with-margin-bottom">
        <button type="button" id="run-model" class="btn btn-sm btn-success"><i class="fa fa-play"></i><b>Run</b></button>
        <button type="button" id="save-model" class="btn btn-sm btn-primary"><i class="fa fa-floppy-o"></i><b>Save</b></button>
        <button type="button" id="reset-model" class="btn btn-sm btn-default"><i class="fa fa-refresh"></i><b>Reset</b></button>
        <img class="with-margin-left" src="/static/img/broken-circle-20x20.gif" alt="Loading" style="display: none">
    </div>
    <div class="col-sm-6 col-md-6 text-right with-margin-bottom">
        <div class="btn-group">
            <button type="button" id="load-species" class="btn btn-sm btn-warning"><i class="fa fa-refresh"></i><b>Load species info</b></button>
        </div>
    </div>
</div>
