<div class="row with-margin-top">
	<div class="panel panel-info">
		<div class="panel-heading" data-toggle="collapse" data-target="#rxn-panel-body">
            <div class="embeded-charactors">
                <h4 class="panel-title"><i class="fa fa-arrow-circle-o-down"></i>Reaction Definition</h4>
            </div>
		</div>
		<div id="rxn-panel-body" class="panel-collapse collapse in">
			<div class="panel-body text-center">
                <img src="/static/img/broken-circle.gif" alt="Loading..."/>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="panel panel-success">
		<div class="panel-heading" data-toggle="collapse" data-target="#model-panel-body">
            <div class="embeded-charactors">
                <h4 class="panel-title"><i class="fa fa-arrow-circle-o-down"></i>Kinetic Model Definition</h4>
            </div>
		</div>
		<div id="model-panel-body" class="panel-collapse collapse in">
			<div class="panel-body text-center">
                <img src="/static/img/broken-circle.gif" alt="Loading..."/>
			</div>
		</div>
	</div>
</div>
