<!-- Reactions -->
<div class="row">
    <table class="table table-hover rxn-table">
        <thead>
	        <tr>
		        <td><i class="fa fa-check-square-o"></i></td>
		        <td>Elementary Reaction</td>
		        <td>Energies</td>
	        </tr>
        </thead>
        <tbody>
	        <tr>
		        <td><input type="checkbox"></td>
		        <td>
			        <span class="IS">CO_g + *_s</span>
			        <i class="fa fa-long-arrow-right"></i>
			        <span class="FS">CO_s</span>
		        </td>
		        <td class="rxn-energies">(0.0, -0.8)</td>
	        </tr>
	        <tr>
		        <td><input type="checkbox"></td>
		        <td>
			        <span class="IS">CO_s + O_s</span>
			        <i class="fa fa-arrows-h"></i>
			        <span class="TS">O-O_s + *_s</span>
			        <i class="fa fa-long-arrow-right"></i>
			        <span class="FS">O2_g + 2*_s</span>
		        </td>
		        <td class="rxn-energies">(0.6, 0.3)</td>
	        </tr>
        </tbody>
    </table>
</div>

<!-- Reaction definition modal -->
<div class="modal fade" id="rxn-definition">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header embeded-charactors">New Elementary Reaction
			    <button class="close close-rxn-definition" type="button">&times;</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="input-group with-margin-bottom">
						<span class="input-group-addon">IS</span>
						<input type="text" class="form-control" placeholder="Initial State">
					</div>
					<div class="input-group with-margin-bottom">
						<span class="input-group-addon">TS</span>
						<input type="text" class="form-control" placeholder="Transition State">
					</div>
					<div class="input-group with-margin-bottom">
						<span class="input-group-addon">FS</span>
						<input type="text" class="form-control" placeholder="Final State">
					</div>
					<div class="input-group with-margin-bottom">
						<span class="input-group-addon">G<sub>a</sub></span>
						<input type="text" class="form-control" placeholder="Activation Energy">
						<span class="input-group-addon">eV</span>
					</div>
					<div class="input-group with-margin-bottom">
						<span class="input-group-addon">&Delta;G</span>
						<input type="text" class="form-control" placeholder="Reaction Energy">
						<span class="input-group-addon">eV</span>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-sm close-rxn-definition">Cancel</button>
				<button type="button" class="btn btn-default btn-sm">Reset</button>
				<button type="button" class="btn btn-primary btn-sm">Save</button>
			</div>
		</div>
	</div>
</div>
