<!-- Reactions -->
{% if rxn_info %}
<div class="row" id="no-rxns" style="display: none">
{% else %}
<div class="row" id="no-rxns" style="display: block">
{% endif %}
    <div class="col-md-12 text-center with-margin-top">
        <div class="well embeded-charactors">
            No elementary reaction added, press
            <b><i class="fa fa-plus"></i>New</b>
            button to add one
        </div>
    </div>
</div>

{% if rxn_info %}
<div class="row" id="rxn-table" style="display: block">
{% else %}
<div class="row" id="rxn-table" style="display: none">
{% endif %}
    <table class="table table-hover">
        <thead>
	        <tr>
		        <td><i class="fa fa-check-square-o"></i></td>
		        <td>Elementary Reaction</td>
		        <td>Energies</td>
	        </tr>
        </thead>
        <tbody>
        {% for expr, Ga, dG in rxn_info %}
            <tr>
                <td><input type="checkbox"></td>
                <td class="rxn-expression">{{ expr }}</td>
                <td class="rxn-energies" data-Ga="{{ Ga }}" data-dG="{{ dG }}">
                    ({{ Ga }}, {{ dG }})
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
