<div class="row with-margin-top">
	<div class="panel panel-default">
		<div class="panel-heading" data-toggle="collapse" data-target="#rxn-panel-body">
            <div class="embeded-charactors">
                <i class="fa fa-arrow-circle-o-down rotate-icon"></i>Reaction Definition
            </div>
		</div>
		<div id="rxn-panel-body" class="panel-collapse collapse in">
			<div class="panel-body">
				<!-- Reactions buttons -->
			    <div class="row">
				    <div class="col-md-6">
					    <div class="btn-group">
					    	<button data-toggle="dropdown" class="btn btn-sm btn-success dropdown-toggle" type="button">
					    	<i class="fa fa-plus"></i>New
					    	</button>
							<ul class="dropdown-menu">
                                <li class="dropdown-header">Select a reaction type</li>
                                <li class="open-rxn-definition" id="no-barrier"><a href="">A <i class="fa fa-long-arrow-right"></i>B</a></li>
								<li class="open-rxn-definition" id="with-barrier"><a href="">A <i class="fa fa-arrows-h"></i>B <i class="fa fa-long-arrow-right"></i>C</a></li>
							</ul>
						</div>
						<button type="button" id="disable-rxns" class="btn btn-sm btn-warning"><i class="fa fa-ban"></i>Disable</button>
					    <button type="button" id="recover-rxns" class="btn btn-sm btn-default"><i class="fa fa-check"></i>Recover</button>
					    <button type="button" id="delete-rxns" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i>Delete</button>
				    </div>
			    </div>
                {% include "model/rxn_table.html" %}

                <!-- Loading animation -->
                <div class="text-center">
	                <img src="/static/img/broken-circle.gif" alt="Loading..." style="display:none">
                </div>
			</div>
		</div>
	</div>
	{% include "model/rxn_definition.html" %}

	<div class="panel panel-default">
		<div class="panel-heading" data-toggle="collapse" data-target="#model-panel-body">
            <div class="embeded-charactors">
                <i class="fa fa-arrow-circle-o-down rotate-icon"></i>Kinetic Model Definition
            </div>
		</div>
		<div id="model-panel-body" class="panel-collapse collapse in">
			<div class="panel-body text-center">
                <!-- Loading animation -->
                <img src="/static/img/broken-circle.gif" alt="Loading...">
			</div>
		</div>
	</div>
</div>
