<!-- Reactions -->
<div class="row" id="no-rxns" style="display: block">
    <div class="col-md-1"></div>
    <div class="col-md-10 text-center with-margin-top">
        <div class="well embeded-charactors">
            No elementary reaction added, press
            <b><i class="fa fa-plus"></i>New</b>
            button to add one
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="row" id="rxn-table" style="display: none">
    <table class="table table-hover">
        <thead>
	        <tr>
		        <td><i class="fa fa-check-square-o"></i></td>
		        <td>Elementary Reaction</td>
		        <td>Energies</td>
	        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
