<div class="row with-margin-top">
	<div class="panel panel-default">
		<div class="panel-heading" data-toggle="collapse" data-target="#rxn-panel-body">
            <div class="embeded-charactors">
                <i class="fa fa-arrow-circle-o-down rotate-icon"></i>Reaction Definition
            </div>
		</div>
		<div id="rxn-panel-body" class="panel-collapse collapse in">
			<div class="panel-body">
				<!-- Reactions buttons -->
			    <div class="row">
				    <div class="col-md-6">
					    <button type="button" class="btn btn-sm btn-success"><i class="fa fa-plus"></i>New</button>
					    <button type="button" class="btn btn-sm btn-warning disabled"><i class="fa fa-ban"></i>Disable</button>
					    <button type="button" class="btn btn-sm btn-default disabled"><i class="fa fa-check"></i>Recover</button>
					    <button type="button" class="btn btn-sm btn-danger disabled"><i class="fa fa-trash"></i>Delete</button>
				    </div>
			    </div>
                {% include "model/rxn_table.html" %}

                <!-- Loading animation -->
                <div class="text-center">
	                <img src="/static/img/broken-circle.gif" alt="Loading..." style="display:none">
                </div>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading" data-toggle="collapse" data-target="#model-panel-body">
            <div class="embeded-charactors">
                <i class="fa fa-arrow-circle-o-down rotate-icon"></i>Kinetic Model Definition
            </div>
		</div>
		<div id="model-panel-body" class="panel-collapse collapse in">
			<div class="panel-body text-center">
                <!-- Loading animation -->
                <img src="/static/img/broken-circle.gif" alt="Loading...">
			</div>
		</div>
	</div>
</div>
