<div class="row">
    <div class="row file-buttons">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <a class="btn btn-sm btn-success" href="{{ url_for('main.model', path=path) }}" target="_blank"><i class="fa fa-plus"></i><b>New job</b></a>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 text-right">
            <div class="btn-group btn-group-sm with-margin-bottom">
                <button type="button" class="btn btn-default disabled"><i class="fa fa-upload"></i><b>Upload</b></button>
                <button type="button" class="btn btn-default disabled"><i class="fa fa-download"></i><b>Download</b></button>
                <button type="button" class="btn btn-default" id="refresh-file-table">
                    <i class="fa fa-refresh"></i><b>Refresh</b>
                </button>
                <button type="button" class="btn btn-danger disabled"><i class="fa fa-trash"></i><b>Delete</b></button>
            </div>
        </div>
    </div>
</div>
