/* Custom style definition for kynetix-webapp*/

.with-margin-top {
    margin-top: 10px;
}

.with-margin-bottom {
    margin-bottom: 10px;
}

.with-vertical-margins {
    margin-top: 10px;
    margin-bottom: 10px;
}

.embeded-charactors {
    font-size: 12px;
    opacity: 0.5;
}

i {
    margin-right: 6px;
}

.pull-right {
    float: right;
}

/* File content styles */
@media (max-width: 768px) {
    .file-info > .text-center {
        text-align: left;
    }
}

/* Model panels styles */

/* panel title上的icon旋转 */
.rotate-icon {
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.rotate-anticlockwise {
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

