/* Custom style definition for kynetix-webapp*/

.with-margin-top {
    margin-top: 10px;
}

.with-margin-bottom {
    margin-bottom: 10px;
}

.with-vertical-margins {
    margin-top: 10px;
    margin-bottom: 10px;
}

.embeded-charactors {
    font-size: 12px;
    opacity: 0.5;
}

i {
    margin-right: 6px;
    margin-left: 6px;
}

.pull-right {
    float: right;
}

/* File content styles */
@media (max-width: 768px) {
    .file-info > .text-center {
        text-align: left;
    }
}

