/* Custom style definition for scaks-hub*/

.with-margin-top {
    margin-top: 10px;
}

.with-margin-left {
    margin-left: 10px;
}

.with-margin-right {
    margin-right: 10px;
}

.with-margin-bottom {
    margin-bottom: 10px;
}

.with-vertical-margins {
    margin-top: 10px;
    margin-bottom: 10px;
}

.embeded-charactors {
    font-size: 15px;
    opacity: 0.5;
}

i {
    margin-right: 6px;
}

.monospaced {
    font-family: "Courier New", "Consolas"
}

.pull-right {
    float: right;
}

.file-content {
    font-size: 9px;
}

@media (max-width: 768px) {
    /* File content styles */
    .file-info > .text-center {
        text-align: left;
    }

    /* File buttons for small screen */
    .file-buttons .text-right {
        text-align: left;
    }

    /* Rxn table buttons for small screen */
    #rxn-panel-body .text-right {
        text-align: left;
    }

    /* Job running panel */
    #running-status .text-right {
        text-align: left;
    }
}

/* Model styles */

/* Reaction panel title */
.rotate-icon {
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.rotate-anticlockwise {
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

/* Reaction table */
#rxn-table {
    margin-top: 20px;
}
#rxn-table thead {
    font-weight: bold;
    opacity: 0.5;
}

#rxn-table tbody > tr > td:nth-child(2),
#rxn-table tbody > tr > td:nth-child(3) {
    font-family: Courier New, Consolas;
}

#rxn-table tbody > tr.disabled {
    background-color: #F6F6F6;
    opacity: 0.3;
}

.dropdown-header {
    margin-top: 3px;
    font-size:14px;
}

/* Reaction definition modal */
#rxn-panel-body .dropdown-menu > li.open-rxn-definition,
#rxn-definition .modal-body .input-group {
    font-family: "Courier New", Consolas;
}

/* Model form */
#model-form span, input, select, option {
    font-family: "Courier New", "Consolas";
}

/* Report table */
.report-table {
    margin-top: 50px;
}
