<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block title %}{% endblock %}
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/kynetix.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='img/icon.ico') }}" rel="icon">
</head>
<body>
	{% block navbar %}
    {% include "navbar.html" %}
    {% endblock %}

    <div class="container">
        <div class="col-md-1"></div>
        <div class="col-md-10">
        {% block content %}
        {% endblock %}
        </div>
        <div class="col-md-1"></div>
    </div>

    <script src="{{ url_for('static', filename='js/jquery-3.2.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>

