<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block title %}{% endblock %}
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/kynetix.css') }}" rel="stylesheet">
</head>
<body>
	{% block navbar %}{% endblock %}
	{% block content %}{% endblock %}
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
</body>
</html>
