<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block title %}{% endblock %}
    <link href="{{ url_for('static', filename='css/externals/bootstrap/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/externals/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/externals/rainbow/monokai.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/externals/rainbow/rainbow-linenumbers.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/kynetix.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='img/icon.ico') }}" rel="icon">
</head>
<body>
	{% block navbar %}
    {% include "nav/navbar.html" %}
    {% endblock %}

    <div class="container">
        <div class="col-md-1"></div>
        <div class="col-md-10">
        {% block content %}
        {% endblock %}
        </div>
        <div class="col-md-1"></div>
    </div>

    {% block script %}
    <script src="{{ url_for('static', filename='js/externals/jquery/jquery-3.2.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/externals/bootstrap/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/externals/moment/moment-with-locales.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/externals/rainbow/rainbow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/externals/rainbow/rainbow.linenumbers.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/kynetix/kynetix.js') }}"></script>
    <script src="{{ url_for('static', filename='js/kynetix/rxn_definition.js') }}"></script>
    <script src="{{ url_for('static', filename='js/kynetix/rxn_panel.js') }}"></script>
    <script src="{{ url_for('static', filename='js/form_status/form_status.js') }}"></script>
    <script src="{{ url_for('static', filename='js/rxn-parser/rxn_parser.js') }}"></script>
    <script src="{{ url_for('static', filename='js/kynetix/model_panel.js') }}"></script>
    <script src="{{ url_for('static', filename='js/externals/highcharts/highcharts.js') }}"></script>
    {{ moment.include_moment() }}
    {% endblock %}
</body>
</html>

