<!-- File table -->
<div class="row">
    <div class="table-responsive">
        {% include "filepath.html" %}
        <table class="table table-hover filetree">
            <tbody>
            {% if dirs %}
                {% for dir in dirs %}
                <tr><td><i class="fa fa-folder-o"></i>{{ dir }}</td></tr>
                {% endfor %}
            {% endif %}
            {% if files %}
                {% for file in files %}
                    {% if file.split('.')[-1] in ['py', 'js', 'cpp', 'c', 'css', 'html']%}
                    <tr><td><i class="fa fa-file-code-o"></i>{{ file }}</td></tr>
                    {% elif file.split('.')[-1] in ['txt', 'conf'] %}
                    <tr><td><i class="fa fa-file-text-o"></i>{{ file }}</td></tr>
                    {% elif file.split('.')[-1] in ['zip', 'rar', 'tar', 'tgz', 'gz'] %}
                    <tr><td><i class="fa fa-file-zip-o"></i>{{ file }}</td></tr>
                    {% else %}
                    <tr><td><i class="fa fa-file-o"></i>{{ file }}</td></tr>
                    {% endif %}
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
</div>

