<!-- File table -->
<div class="row">
    <div class="table-responsive">
        {% include "filepath.html" %}
        <table class="table table-hover">
            <tbody>
            {% if dirs %}
                {% for dir in dirs %}
                <tr><td>{{ dir }}</td></tr>
                {% endfor %}
            {% endif %}
            {% if files %}
                {% for file in files %}
                <tr><td>{{ file }}</td></tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
</div>

