<!-- File table -->
<div class="row">
    <div class="table-responsive">
        <table class="table table-hover filetree">
            <tbody>
                {% if prev_link %}
                <tr><td><i class="fa fa-folder-o"></i><a href="{{ prev_link }}"><span>..</span></a></td></tr>
                {% endif %}
            {% if dir_items %}
                {% for dir_item in dir_items %}
                <tr>
                    <td>
                        <i class="fa fa-folder-o"></i><a href="{{ dir_item.link }}"><b>{{ dir_item.name }}</b></a>
                        <span class="embeded-charactors pull-right">
                        {{ moment(dir_item.mtime).fromNow(refresh=True) }}
                        </span>
                    </td>
                </tr>
                {% endfor %}
            {% endif %}
            {% if file_items %}
                {% for file_item in file_items %}
                    {% if file_item.name.split('.')[-1] in code_suffixes %}
                <tr>
                    <td>
                        <i class="fa fa-file-code-o"></i><a href="{{ file_item.link }}">{{ file_item.name }}</a>
                        <span class="embeded-charactors pull-right">
                        {{ moment(file_item.mtime).fromNow(refresh=True) }}
                        </span>
                    </td>
                </tr>
                {% elif file_item.name.split('.')[-1] in text_suffixes %}
                <tr>
                    <td>
                        <i class="fa fa-file-text-o"></i><a href="{{ file_item.link }}">{{ file_item.name }}</a>
                        <span class="embeded-charactors pull-right">
                        {{ moment(file_item.mtime).fromNow(refresh=True) }}
                        </span>
                    </td>
                </tr>
                {% elif file_item.name.split('.')[-1] in zip_suffixes %}
                <tr>
                    <td>
                        <i class="fa fa-file-zip-o"></i><a href="{{ file_item.link }}">{{ file_item.name }}</a>
                        <span class="embeded-charactors pull-right">
                        {{ moment(file_item.mtime).fromNow(refresh=True) }}
                        </span>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td>
                        <i class="fa fa-file-o"></i><a href="{{ file_item.link }}">{{ file_item.name }}</a>
                        <span class="embeded-charactors pull-right">
                        {{ moment(file_item.mtime).fromNow(refresh=True) }}
                        </span>
                    </td>
                </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
</div>

